.clock {
  font-size: 1.2em;
  color: white;
  margin: auto;
}
.logo {
  height: 2.7em;
}
.avatar {
  height: 2.7em;
  border-radius: 50%;
}
.loading {
  height: 100%
}
.circle > {
  height: 100%;
  margin: auto;
}
